<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/layout :: head}">
        <title>Dos Chingones</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="~{layout/layout :: header}"/>

        <div class='text-center'>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <i class="bi bi-bag-heart-fill h1"></i>
            <h2>[[#{carrito.compra1}]]<br/>[[#{carrito.compra2}]]</h2>
            <br/>
            <a th:href="@{/}"><button type="button" class="btn btn-danger btn-lg"> [[#{carrito.compra3}]] </button></a>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>

        </div>

        <header th:replace="~{layout/layout :: footer}"/>
    </body>
</html>
