<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Plantilla</title>
    </head>
    <body>

        <!-- Listado de Categorias, incluye agregar, borrar, modificar y ver categorias-->
        <section th:fragment="listadoCategorias" id="categorias">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <h4>Listado de Categorias</h4>
                            </div>
                            <div th:if="${categorias != null and !categorias.empty}">
                                <table class="table table-striped table-hover">
                                    <thead class="table-dark">
                                        <tr><th>#</th>
                                            <th>Nombre</th>
                                            <th>¿Está activo?</th>
                                            <th sec:authorize='hasRole("ROLE_ADMIN")'></th>
                                            <th></th></tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="categoria, contador : ${categorias}">
                                            <td>[[${contador.count}]]</td>
                                            <td>[[${categoria.nombre}]]</td>
                                            <td th:text="${categoria.activo} ? 'Activa' : 'Inactiva'"/>
                                            <td sec:authorize='hasRole("ROLE_ADMIN")'>
                                                <a th:href="@{/admin/categoria/eliminar/}+${categoria.idCategoria}"
                                                   class="btn btn-danger">
                                                    <i class="fas fa-trash"></i> Eliminar</a>
                                                <a th:href="@{/admin/categoria/modificar/}+${categoria.idCategoria}"
                                                   class="btn btn-success">
                                                    <i class="fas fa-pencil"></i> Modificar</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${categorias == null or categorias.empty}">
                                <span>No hay ninguna categoria asignada</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section th:fragment="agregarCategoria">
            <div id="agregarCategoria" 
                 class="modal fade" 
                 tabindex="-1" 
                 aria-labelledby="exampleModalLabel" 
                 aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title">Nueva Categoria</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> 
                        <form th:action="@{/admin/categoria/guardar}" th:object="${categoria}"
                              method="POST" class="was-validated" enctype="multipart/form-data">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="descripcion">Nombre de la Categoria</label>
                                    <input type="text" class="form-control" name="nombre" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="activo">¿Quiere activarla de una vez?</label>
                                    <input class="form-check-input" type="checkbox" name="activo" id="activo"/>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <section th:fragment="botonesAgregarCategoria" class="py-2 mb-2">
            <div class="container">
                <div class="row d-flex justify-content-end">
                    <div class="col-md-3" sec:authorize='hasRole("ROLE_ADMIN")'>   
                        <button 
                            type="button" 
                            class="btn btn-primary btn-block" 
                            data-bs-toggle="modal" 
                            data-bs-target="#agregarCategoria">
                            <i class="fas fa-plus"></i> Agregar Categoria
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <section th:fragment="editarCategoria">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form method="POST"
                          th:action="@{/admin/categoria/guardar}" 
                          th:object="${categoria}"
                          class="was-validated"                          
                          enctype="multipart/form-data">
                        <input type="hidden" name="idCategoria" th:field="*{idCategoria}"/>
                        <div id=details>
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-header d-flex justify-content-center">
                                                <h4>Actualizar Categoria</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="mb-3">
                                                    <label for="descripcion">Nombre de la Categoria</label>
                                                    <input type="text" class="form-control" 
                                                           name="nombre" th:field="*{nombre}"
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="activo">¿Está activo?</label>
                                                    <input class="form-check-input" 
                                                           type="checkbox" 
                                                           name="activo" 
                                                           id="activo"
                                                           th:field="*{activo}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <section th:replace="~{admin/fragmentos_Admin :: botonesEditarCategoria}"/>
                    </form>
                </div>
            </div>
        </section>

        <section th:fragment="botonesEditarCategoria">
            <div class="container py-4 mb-4">
                <div class="row">
                    <div class="col-md-4 d-grid">
                        <a th:href="@{/admin/listadoCategorias}" class="btn btn-primary">
                            <i class="fas fa-arrow-left"></i> Regresar
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">                                
                        <a th:href="@{/admin/categoria/eliminar/}+${categoria.idCategoria}"
                           class="btn btn-danger">
                            <i class="fas fa-trash"></i> Eliminar
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-check"></i> Guardar
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <!-- Listado de Platillo, incluye agregar, borrar, modificar y ver platillos-->
        <section th:fragment="listadoPlatillos" id="platillos">
            <div class="container">
                <div class="row row-cols-2" >
                    <h2 class="inline">Listado De Platillos Completo</h2>
                    <div id="resultsBlock"></div>
                </div>
                <div class="row row-cols-3" 
                     th:if="${platillos != null and !platillos.empty}">
                    <div class="card" style="width: 22rem; margin: 1rem" th:each="platillo : ${platillos}">
                        <br/>
                        <img th:src="@{${platillo.rutaImagen}}" height="200" width="326" class="rounded"/>
                        <div class="card-body">
                            <h5 class="card-title">[[${platillo.nombre}]]</h5>
                            <p class="card-text text-truncate">[[${platillo.descripcion}]]</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><h2 class="text-center" style="">[[${platillo.precio}]]</h2></li>
                            <h3 class='d-flex justify-content-center' th:text="${platillo.activo} ? 'Activa' : 'Inactiva'"/>
                        </ul>
                        <div class="card-body text-center" sec:authorize='hasRole("ROLE_ADMIN")'>
                            <a th:href="@{/admin/platillo/modificar/}+${platillo.id_platillo}" class="btn btn-danger">Editar Platillo</a>
                        </div>
                    </div>
                </div>
                <div th:if="${platillos == null or platillos.empty}">
                    No hay platillos disponibles en este momento
                </div>
            </div>
        </section>

        <section th:fragment="agregarPlatillo">
            <div id="agregarPlatillo" 
                 class="modal fade" 
                 tabindex="-1" 
                 aria-labelledby="exampleModalLabel" 
                 aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title">Nuevo Platillo</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> 
                        <form th:action="@{/admin/platillo/guardar}" th:object="${platillo}"
                              method="POST" class="was-validated" enctype="multipart/form-data">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="categoria">Categoria del Platillo</label>
                                    <select class="form-select"
                                            aria-label="Default select example"
                                            name="categoria.idCategoria">
                                        <option th:each="c : ${categorias}"
                                                th:value="${c.idCategoria}"
                                                th:text="${c.nombre}">
                                        </option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="nombre">Nombre de la Platillo</label>
                                    <input type="text" class="form-control" name="nombre" required="true"/>
                                </div>

                                <div class="mb-3">
                                    <label for="descripcion">Descripcion del Platillo</label>
                                    <textarea class="form-control" name="descripcion"></textarea>
                                </div>

                                <div class="mb-3">
                                    <label for="precio">Precio del Platillo</label>
                                    <input type="number" class="form-control" name="precio" required="true"/>
                                </div>

                                <div class="mb-3">
                                    <label for="vegano">¿Quiere activarla de una vez?</label>
                                    <input class="form-check-input" type="checkbox" name="vegano" id="activo"/>
                                </div>

                                <div class="mb-3">
                                    <label for="activo">¿Es una opción vegana?</label>
                                    <input class="form-check-input" type="checkbox" name="activo" id="activo"/>
                                </div>

                                <div class="mb-3">
                                    <label for="imagen">Imagen del Platillo</label>
                                    <input class="form-control" type="file" name="imagenFile" accept = "image/png, image/jpg, image/jpeg" onchange="readURL(this);"/>
                                    <div class='d-flex justify-content-center'>
                                        <img id="blah" src="#" alt="your image" height="200"/>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <section th:fragment="botonesAgregarPlatillo" class="py-2 mb-2">
            <div class="container">
                <div class="row d-flex justify-content-end">
                    <div class="col-md-3" sec:authorize='hasRole("ROLE_ADMIN")'>   
                        <button 
                            type="button" 
                            class="btn btn-primary btn-block" 
                            data-bs-toggle="modal" 
                            data-bs-target="#agregarPlatillo">
                            <i class="fas fa-plus"></i> Agregar Platillo
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <section th:fragment="editarPlatillo">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form method="POST"
                          th:action="@{/admin/platillo/guardar}" 
                          th:object="${platillo}"
                          class="was-validated"                          
                          enctype="multipart/form-data">
                        <input type="hidden" name="id_platillo" th:field="*{id_platillo}"/>
                        <input type="hidden" name="rutaImagen" th:field="*{rutaImagen}"/>
                        <div id=details>
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-header d-flex justify-content-center">
                                                <h4>Actualizar Platillo</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="mb-3">
                                                    <label for="categoria">Categoria del platillo</label>
                                                    <select class="form-select"
                                                            aria-label="Default select example"
                                                            name="categoria.idCategoria">
                                                        <option th:each="c : ${categorias}"
                                                                th:value="${c.idCategoria}"
                                                                th:text="${c.nombre}"
                                                                th:selected="${c.idCategoria == platillo.categoria.idCategoria}">
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="nombre">Nombre de la Platillo</label>
                                                    <input type="text" class="form-control" name="nombre" required="true" th:field="*{nombre}"/>
                                                </div>

                                                <div class="mb-3">
                                                    <label for="descripcion">Descripcion del Platillo</label>
                                                    <textarea class="form-control" name="descripcion" th:field="*{descripcion}"></textarea>
                                                </div>

                                                <div class="mb-3">
                                                    <label for="precio">Precio del Platillo</label>
                                                    <input type="number" class="form-control" name="precio" required="true" th:field="*{precio}"/>
                                                </div>

                                                <div class="mb-3">
                                                    <label for="vegano">¿Quiere activarla de una vez?</label>
                                                    <input class="form-check-input" type="checkbox" name="vegano" id="activo" th:field="*{activo}"/>
                                                </div>

                                                <div class="mb-3">
                                                    <label for="vegano">¿Es una opción vegana?</label>
                                                    <input class="form-check-input" type="checkbox" name="vegano" id="vegano" th:field="*{vegano}"/>
                                                </div>

                                                <div class="mb-3">
                                                    <label for="imagen">Imagen del Platillo</label>
                                                    <input class="form-control" type="file" name="imagenFile" accept = "image/png, image/jpg, image/jpeg" onchange="readURL(this);"/>
                                                    <div class='d-flex justify-content-center'>
                                                        <img id="blah" th:src="@{${platillo.rutaImagen}}" alt="your image" height="200"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <section th:replace="~{admin/fragmentos_Admin :: botonesEditarPlatillo}"/>
                    </form>
                </div>
            </div>
        </section>

        <section th:fragment="botonesEditarPlatillo">
            <div class="container py-4 mb-4">
                <div class="row">
                    <div class="col-md-4 d-grid">
                        <a th:href="@{/admin/listadoPlatillos}" class="btn btn-primary">
                            <i class="fas fa-arrow-left"></i> Regresar
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">                                
                        <a th:href="@{/admin/platillo/eliminar/}+${platillo.id_platillo}"
                           class="btn btn-danger">
                            <i class="fas fa-trash"></i> Eliminar
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-check"></i> Guardar
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <!-- Listado de Usuario, incluye agregar, borrar, modificar y ver usuarios -->
        <section th:fragment="listadoUsuarios" id="usuarios">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <h4>Listado de Usuarios</h4>
                            </div>
                            <div th:if="${usuarios != null and !usuarios.empty}">
                                <table class="table table-striped table-hover">
                                    <thead class="table-dark">
                                        <tr><th>#</th>
                                            <th>Usuario</th>
                                            <th>Correo</th>
                                            <th>¿Este usuario está activo?</th>
                                            <th sec:authorize='hasRole("ROLE_ADMIN")'>Opciones para Usuario</th>
                                            <th></th></tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="usuario, contador : ${usuarios}">
                                            <td>[[${contador.count}]]</td>
                                            <td>[[${usuario.nombre}]]</td>
                                            <td>[[${usuario.correo}]]</td>
                                            <td th:text="${usuario.activo} ? 'Activa' : 'Inactiva'"/>
                                            <td sec:authorize='hasRole("ROLE_ADMIN")'>
                                                <a th:href="@{/admin/usuario/eliminar/}+${usuario.id_usuario}"
                                                   class="btn btn-danger">
                                                    <i class="fas fa-trash"></i> Eliminar</a>
                                                <a th:href="@{/admin/usuario/modificar/}+${usuario.id_usuario}"
                                                   class="btn btn-success">
                                                    <i class="fas fa-pencil"></i> Modificar</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${usuarios == null or usuarios.empty}">
                                <span>No hay ningun usuario registrado</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section th:fragment="agregarUsuario">
            <div id="agregarUsuario" 
                 class="modal fade" 
                 tabindex="-1" 
                 aria-labelledby="exampleModalLabel" 
                 aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title">Nuevo Usuario</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> 
                        <form th:action="@{/admin/usuario/guardar}" th:object="${usuario}"
                              method="POST" class="was-validated" enctype="multipart/form-data">
                            <div th:if="${#fields.hasErrors('*')}" class="error-message">
                                <p th:each="error : ${#fields.errors('*')}" th:text="${error}"></p>
                            </div>
                            <div class="modal-body">
                                <div class="mb-3">
                                    <div class="form-outline mb-4">
                                        <input type="text" class="form-control form-control-lg" name="username" required="true"/>
                                        <label class="form-label" th:for="username">Nombre de Usuario</label>
                                    </div>

                                    <div class="mb-3">
                                        <input type="password" name="password"  class="form-control form-control-lg" required="true"/>
                                        <label class="form-label" for="password">Contraseña</label>
                                    </div>

                                    <div class="mb-3">
                                        <input type="text" name="nombre" class="form-control form-control-lg" required="true"/>
                                        <label class="form-label" for="nombre">Nombre</label>
                                    </div>

                                    <div class="mb-3">
                                        <input type="text" name="apellidos" class="form-control form-control-lg" required="true"/>
                                        <label class="form-label" for="apellidos">Apellidos</label>
                                    </div>

                                    <div class="mb-3">
                                        <input type="email" name="correo" class="form-control form-control-lg" required="true"/>
                                        <label class="form-label" for="correo">Correo Electrónico</label>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-primary" type="submit">Guardar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <section th:fragment="botonesAgregarUsuario" class="py-2 mb-2">
            <div class="container">
                <div class="row d-flex justify-content-end">
                    <div class="col-md-3" sec:authorize='hasRole("ROLE_ADMIN")'>   
                        <button 
                            type="button" 
                            class="btn btn-primary btn-block" 
                            data-bs-toggle="modal" 
                            data-bs-target="#agregarUsuario">
                            <i class="fas fa-plus"></i> Agregar Usuario
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <section th:fragment="editarUsuario">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form method="POST"
                          th:action="@{/admin/usuario/actualizar}" 
                          th:object="${usuario}"
                          class="was-validated"                          
                          enctype="multipart/form-data">
                        <input type="hidden" name="id_usuario" th:field="*{id_usuario}"/>
                        <input type='hidden' name='password' th:field="*{password}"/>
                        <div id=details>
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-header d-flex justify-content-center">
                                                <h4>Actualizar Usuario</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="mb-3">
                                                    <label class="form-label" id="username" th:field="*{username}">Nombre de Usuario</label>
                                                    <input type="text" class="form-control form-control-lg" name="username" th:field="*{username}" readonly="true" />
                                                </div>

                                                <div class="mb-3">
                                                    <label class="form-label" id="nombre" th:field="*{nombre}">Nombre</label>
                                                    <input type="text" name="nombre" th:field="*{nombre}" class="form-control form-control-lg" />
                                                </div>

                                                <div class="mb-3">
                                                    <label class="form-label" id="apellidos" th:field="*{apellidos}">Apellidos</label>
                                                    <input type="text" name="apellidos" th:field="*{apellidos}" class="form-control form-control-lg" />
                                                </div>

                                                <div class="mb-3">
                                                    <label class="form-label" id="correo" th:field="*{correo}">Correo Electrónico</label>
                                                    <input type="email" name="correo" th:field="*{correo}" class="form-control form-control-lg" readonly="true"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <section th:replace="~{admin/fragmentos_Admin :: botonesEditarUsuario}"/>
                    </form>
                </div>
            </div>
        </section>

        <section th:fragment="botonesEditarUsuario">
            <div class="container py-4 mb-4">
                <div class="row">
                    <div class="col-md-4 d-grid">
                        <a th:href="@{/admin/listadoUsuarios}" class="btn btn-primary">
                            <i class="fas fa-arrow-left"></i> Regresar
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">                                
                        <a th:href="@{/admin/usuario/eliminar/}+${usuario.id_usuario}"
                           class="btn btn-danger">
                            <i class="fas fa-trash"></i> Eliminar
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-check"></i> Guardar
                        </button>
                    </div>
                </div>
            </div>
        </section>


        <!-- Aqui estara el apartado de roles -->
        <section th:fragment="listadoRoles" id='roles'>
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <h4>Listado de Roles</h4>
                            </div>
                            <div th:if="${roles != null and !roles.empty}">
                                <table class="table table-striped table-hover">
                                    <thead class="table-dark">
                                        <tr><th>#</th>
                                            <th>Rol</th>
                                            <th>Usuario</th>
                                            <th sec:authorize='hasRole("ROLE_ADMIN")'>Eliminar Rol</th></tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="rol, contador : ${roles}">
                                            <td>[[${contador.count}]]</td>
                                            <td>[[${rol.nombre}]]</td>
                                            <td th:text="${rol.usuario != null ? rol.usuario.nombre : 'Sin usuario'}"></td>
                                            <td sec:authorize='hasRole("ROLE_ADMIN")'>
                                                <a th:href="@{/admin/rol/eliminar/}+${rol.idRol}"
                                                   class="btn btn-danger">
                                                    <i class="fas fa-trash"></i> Eliminar</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${roles == null or roles.empty}">
                                <span>No hay roles, crealos porfavor</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section th:fragment="botonesAgregarRol" class="py-2 mb-2">
            <div class="container">
                <div class="row d-flex justify-content-end">
                    <div class="col-md-3" sec:authorize='hasRole("ROLE_ADMIN")'>   
                        <button 
                            type="button" 
                            class="btn btn-primary btn-block" 
                            data-bs-toggle="modal" 
                            data-bs-target="#agregarRol">
                            <i class="fas fa-plus"></i> Agregar Rol
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <section th:fragment="agregarRol">
            <div id="agregarRol" 
                 class="modal fade" 
                 tabindex="-1" 
                 aria-labelledby="exampleModalLabel" 
                 aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title">Nuevo Platillo</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> 
                        <form th:action="@{/admin/rol/guardar}" th:object="${rol}"
                              method="POST" class="was-validated" enctype="multipart/form-data">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="categoria">Usuarios Disponibles</label>
                                    <select class="form-select" aria-label="Default select example" name="usuario.id">
                                        <option th:each="usuario : ${usuarios}" th:value="${usuario.id_usuario}" th:text="${usuario.nombre}"></option>
                                    </select>
                                </div>

                                <div class="mb-3">
                                    <label for='RolesDisponibles'>Seleccione un rol para dar al usuario</label>
                                    <select name="RolesDisponibles" class="form-select" aria-label="Default select example">
                                        <option>ADMIN</option>
                                        <option>EMPLEADO</option>
                                        <option>USER</option>
                                    </select>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-primary" type="submit">Guardar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
