<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:fragment="head">
        <!-- comment <title>Plantilla</title>-->
        <title th:text="${title}">Plantilla</title>
        <meta charset="UTF-8"/>
        <link rel="icon" type="image/x-icon" href="https://firebasestorage.googleapis.com/v0/b/dos-chingones-b1e2a.appspot.com/o/Favicon_DosChingones.png?alt=media&token=99200eaa-65b6-4e9b-b732-da7ea4ba9b26"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"/>
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/webjars/font-awesome/css/all.min.css}" rel="stylesheet"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/rutinas.js}"></script>
    </head>
    <body>
        <section th:fragment="header">
            <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
                <a th:href="@{/}" class="align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                    <!--<img th:src="${imagen.logo}" alt="Logo_DosChingones" class="mx-auto d-block" style="width: 50%; height: auto"/>-->
                    <img src="https://firebasestorage.googleapis.com/v0/b/dos-chingones-b1e2a.appspot.com/o/Logo_DosChingones.png?alt=media&token=c8334e44-3703-42ab-921a-b929c45e916a" alt="Logo_DosChingones" class="mx-auto d-block" style="width: 50%; height: auto"/>
                </a>
                <ul class="nav col-10 col-md-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/" class="nav-link px-2 link-dark conFocus">Inicio</a></li>
                    <li class="nav-item dropdown link-dark">
                        <a class="nav-link dropdown-toggle link-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Menu
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" th:href="@{/menu_regular}">Menu Regular</a></li>
                            <li><a class="dropdown-item" th:href="@{/menu_vegano}">Menu Vegano</a></li>
                            <li><a class="dropdown-item" th:href="@{/bebidas}">Bebidas</a></li>
                        </ul>
                    </li>
                    <li><a th:href="@{/ofertas}" class="nav-link px-2 link-dark">Ofertas</a></li>
                    <li sec:authorize='isAuthenticated()'><a href="#" class="nav-link px-2 link-dark">Facturas</a></li>
                    <li><a th:href="@{/nosotros}" class="nav-link px-2 link-dark">Sobre Nosotros</a></li>
                    <li class="nav-item dropdown link-dark" sec:authorize="hasAnyRole('ROLE_EMPLEADO', 'ROLE_ADMIN')">
                        <a class="nav-link dropdown-toggle link-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Administracion
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li sec:authorize="hasRole('ROLE_ADMIN')"><a class="dropdown-item" th:href="@{/menu_regular}">Cambio de Imagen</a></li>
                            <li><a class="dropdown-item" th:href="@{/admin/listadoUsuarios}">Ver Usuarios</a></li>
                            <li><a class="dropdown-item" th:href="@{/admin/listadoCategorias}">Ver Categorias</a></li>
                            <li><a class="dropdown-item" th:href="@{/admin/listadoPlatillos}">Ver Platillos</a></li>
                            <li><a class="dropdown-item" th:href="@{/admin/listadoPedidos}">Ver Pedidos</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="col-md-3 text-end" sec:authorize='!isAuthenticated()'>
                    <a th:href="@{/login}"><button type="button" class="btn btn-outline-danger me-2">Entrar</button></a>
                    <a th:href="@{/cuenta/nuevo}"><button type="button" class="btn btn-danger">Crear Cuenta</button></a>
                </div>
                <div class="col-md-1 text-center" sec:authorize='isAuthenticated()'>
                    <a class="text-decoration-none text-danger" th:href="@{/carrito/listado}"><i class="bi bi-cart-fill"></i> Carrito</a>
                </div>
                <div class="col-md-1 text-center" sec:authorize='isAuthenticated()'>
                        <a class="nav-link dropdown-toggle link-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-person-circle h2"></i>
                            <span sec:authentication='name'>Jhon</span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" th:href="@{/cuenta/modifica}">Modificar Cuenta</a></li>
                            <form method='post' th:action='@{/logout}'>
                                <li><button class="shadow-none decoration-none" type="submit" style="border: none; padding: 0; background: none"><a class="dropdown-item">Cerrar cuenta</a></button></li>
                            </form>
                        </ul>
                </div>
            </header>
        </section>

        <section th:fragment="footer">
            <br>
                <footer class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between border-top">
                    <div class="container text-center text-md-start mt-3">
                        <div class="row mt-3">
                            <!-- Columna de la izquierda donde explica el restaurante -->
                            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                                <h6 class="text-uppercase fw-bold mb-4">
                                    <i class="fas fa-pepper-hot me-3"></i>Dos Chingones
                                </h6>
                                <p>
                                    Restaurante Mexicano donde fusionamos tradición y creatividad para ofrecerte una experiencia culinaria auténtica
                                    y emocionante. Desde los vibrantes sabores de nuestras salsas caseras hasta
                                    la cuidadosa selección de ingredientes frescos.
                                </p>
                            </div>
                            <!-- Columna de la derecha -->
                            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                                <!-- Politicas y esas cosas -->
                                <h6 class="text-uppercase fw-bold mb-4">
                                    Legal
                                </h6>
                                <p>
                                    <a href="#!" class="text-reset text-decoration-none">Términos y condiciones</a>
                                </p>
                                <p>
                                    <a href="#!" class="text-reset text-decoration-none">Políticas de privacidad</a>
                                </p>
                            </div>
                            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                                <!-- Links -->
                                <h6 class="text-uppercase fw-bold mb-4">Contacto</h6>
                                <a href="https://www.facebook.com/2chingones/" class="mb-3 text-decoration-none link-dark" target=”_blank”>
                                    <p><i class="fab fa-facebook-f"></i> Facebook </p>
                                </a>
                                <a href="https://www.instagram.com/2chin_gones/" class="mb-3 text-decoration-none link-dark" target=”_blank”>
                                    <p><i class="fab fa-instagram"></i> Instagram </p>
                                </a>
                                <a href="https://api.whatsapp.com/send?phone=%2B50672930820&data=ARC6JZ0exqwdvvHXbrOZWSdPr-z6eLBXhgQaZjjnBtumwQMF2qdAxZgv5gEy_Sah3I2oSbQuNmd6cufFEJTe2L4Q98n73dhOBm5EGoGE9l3uY7GbKPrJM7mw2JPau8zq19GrpkLKsPiUOpTboCJKC1kVqw" 
                                   class="mb-3 text-decoration-none link-dark" target=”_blank”>
                                    <p><i class="fab fa-whatsapp"></i> Contactenos </p>
                                </a>
                                <a href="https://maps.app.goo.gl/yA5XDMmnaPrUzmYu9" class="mb-3 text-decoration-none link-dark" target=”_blank”>
                                    <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                                            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                                        </svg> Dirección </p>
                                </a>
                            </div>
                            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                            </div>
                        </div>
                    </div>
                </footer>
        </section>
    </body>
</html>
